# Comma-separated list of allowed origins for CORS
BACKEND_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# true or false
BACKEND_CORS_ALLOW_CREDENTIALS=true

# Comma-separated methods/headers; use * for all
BACKEND_CORS_ALLOW_METHODS=*
BACKEND_CORS_ALLOW_HEADERS=*
