# Comma-separated list of allowed origins for CORS
BACKEND_CORS_ORIGINS=
# true or false
BACKEND_CORS_ALLOW_CREDENTIALS=true

# Comma-separated methods/headers; use * for all
BACKEND_CORS_ALLOW_METHODS=*
BACKEND_CORS_ALLOW_HEADERS=*
